* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Josefin Sans";
  }
 
  
  header {
    background-color: hsla(256, 32%, 90%, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4% 7%;
    position: sticky;
    top: 0;
  }

  .logo img {
    display: block;
}
body{
  background-color: #e7e7e7;
}

header a {

    text-decoration: none;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: bold;
}
.user-email{
padding-left: 15rem;
  color: #45356d;
}
.email_toggle{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: center;

}
.second{
  padding: 0;
}
.user-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
  padding-top:3rem;
  color: #45356d;
 
  width: 20rem;
}
.user-info .first{
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  gap: 0.5rem;
}
.user-info .first img{
  width: 2rem;
}
.search-genqr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  gap: 1rem;
}

.search input{
height: 3rem;
width: 20rem;


}
.search button{
  height: 3rem;
  width: 10rem;
  background:hsla(256, 34%, 32%, 1);
  border: 0;
  border-radius: 4px;
  color: #e7e7e7;
  font-size: 1rem;
  cursor: pointer;
}
.genqr button{
  background:hsla(256, 34%, 32%, 1) ;
  height: 3rem;
  width: 10rem;
  border: 0;
  border-radius: 4px;
  color: #fbf6f5;
  font-size: 1rem;
  cursor: pointer;
}
header ul li {
    margin-right: 1rem;
    color: hsla(256, 34%, 32%, 1);
}
.all-gen-qr{
  display: flex;
 margin-left: 2rem;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  gap: 01rem;
  
}
.qr-section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
}
.qr-container{
  display: flex;
  background: #fff;
  padding: 1.2rem;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 2rem;
  border: 2px solid rgb(173, 173, 173);
  border-radius: 4px;
  
}
.qr-code{
  display: flex;
  flex-direction: column;

}
.qr-code img{
  width: 12rem;
  height: 12rem;
  margin-bottom: 1.2rem;
}
.qr-code button{
  height: 3rem;
  font-size: 1rem;
  background: hsla(256, 34%, 32%, 1);
  border: 0;
  border-radius: 4px;
  color: #fbf6f5;
  cursor: pointer;
}
.toggle_menu {
  display: block;
  height: 1.7rem;

}

.toggle_menu_img {
  width: 100%;
  height: 100%;
}
.qr-code-info{
display: flex;
flex-direction: column;
gap: 2rem;
}
.share-btn{
  color: #45356d;
  background: #e1dced;
  height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;


  display: flex;
  justify-content: center;
  align-items: center;
  
}
.show {
  display: none;
}

.mobile-menu {
  background:rgb(85, 67, 134) ;
  display: none;
  height: 91.2vh;
  width: 20%;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 2rem;
  color: antiquewhite;
  border-radius: 8px 0 0 8px;
  

}


.mobile-menu_btn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobile-menu_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 7rem;
}

.mobile-menu_list li a {
  color: black;
}
.mobile-menu ul{
  margin-top: 2rem;
}
.mobile-menu ul li a{
  color: #fbf6f5;
}
.active {
  display: block;
  animation: fadeIn 500ms ease-in-out;
}

  footer {
    background-color: hsla(256, 34%, 32%, 1);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 3rem 3.5rem;
}

.footer_logo {
    text-align: center;
    padding-bottom: 1.5rem;
}

.footer-name {
    color: hsla(0, 0%, 91%, 1);
    margin-bottom: 1.8rem;
}

.social-media-container {
    color: hsla(0, 0%, 91%, 1);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.social-media-container div {
    display: flex;
    gap: 0.7rem;
}

.footer-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
}

.footer-pages a {
    color: hsla(0, 0%, 91%, 1);
    text-decoration: none;
}



@media screen and (max-width:1140px) {
  header {
      padding: .6rem 7%;
  }
  .mobile-menu {
  
    width: 30%;
   
  
  }
  .user-email{
    padding-left: 6rem;
    
    }
}

  
@media screen and (max-width:700px) {
  .user-email{
    padding-left: 0rem;
     
    }

.search input{
  height: 3rem;
  width: 30%;
  min-width: 15rem;
  
  }
  .search button{
    height: 3rem;
    width: 10rem;
    background:hsla(256, 34%, 32%, 1);
    border: 0;
    border-radius: 4px;
    color: #e7e7e7;
  }
  .footer_logo {
      text-align: start;
  }

  .footer-pages {
      flex-direction: column;
      gap: 2rem;
  }
  .mobile-menu {
  
    width: 50%;
  
  
  }
}
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  