* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e7e7e7;
  }
  
  header {
    background-color: hsla(256, 32%, 90%, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4% 7%;
  }
  
  .logo img {
    display: block;
  }
  header a {
    text-decoration: none;
  }
  header ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }
  header ul li {
    margin-right: 1rem;
    color: hsla(256, 34%, 32%, 1);
  }
  .user_btn_container {
    display: flex;
    gap: 2rem;
  }
  .user_btn {
    width: 9rem;
    height: 3rem;
    border: 1px solid #45356d;
    background-color: #45356d;
    border-radius: 4px;
    color: #fbf6f5;
  }
  .login_btn {
    background-color: #e1dced;
    color: #45356d;
  }
  .toggle_menu {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  header {
    padding: 0.6rem 7%;
  }
  header ul {
    display: none;
  }
  .user_btn_container {
    display: none;
  }
  .toggle_menu {
    display: block;

    height: 1.7rem;
  }
  .toggle_menu_img {
    width: 100%;
    height: 100%;
  }
  .show {
    display: none;
  }

  .mobile-menu {
    background: white;
    height: 93.2vh;
    width: 100vw;
    position: absolute;
    top: 6.8%;
    left: 0;
    padding: 2rem;
  }
  .mobile-menu_list {
    color: black;
  }
  .mobile-menu_btn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .mobile-menu_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 7rem;
  }
  .mobile-menu_list li a {
    color: black;
  }
  .active {
    display: block;
    animation: fadeIn 500ms ease-in-out;
  }
  main{
    margin: 3em 3em 3em 3em;
 }
  .arrow_left{
    display: none;
  }
 .top{
   display: grid;
   grid-template-areas: 
   "aa bb";

 }
 
 .check_previous{
    font-weight: 500; 
     font-size: 22px;
 }
 input{
    padding: 1em;
    width: 50%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid grey;

 }
 input#search{
    background-image: url(/assets/images/search-normal.png);
    background-repeat: no-repeat;
    text-indent: 30px;
    background-position: 10px;
   }
   
   input#search:focus{
    background-image:none;
   }
 .search_block{
    line-height: 2;
 }
 .search-btn{
    width: 17%;
    padding: 1em;
    border: 1px solid #45356d;
    background-color: #45356d;
    border-radius: 4px;
    color: #fbf6f5;
    cursor: pointer;
    
 }
 .create_block{
    grid-area: bb;
    text-align: end;
 }
 .create-btn{
    width: 35%;
    padding: 1em;
    border: 1px solid #45356d;
    background-color: #45356d;
    border-radius: 4px;
    color: #fbf6f5;
    cursor: pointer;
    
 }
 .wrapper{
    display: grid;
    grid-template-areas: 
    "a b c d"
    "e f g h ";
    gap: 1em;
 }
 .grid{
    gap: 2em;
    line-height: 2;
    text-align: center;
    margin: 2em;
 }
 .first_grid{
    grid-area: a;
     
 }

 .second_grid{
    grid-area: b;
    
 }
 .third_grid{
    grid-area: c;
    
 }
 .forth_grid{
    grid-area: d;
    
 }
 .fifth_grid{
    grid-area: e;
 }
 .sixth_grid{
    grid-area: f;
 }
 .seventh_grid{
    grid-area: g;
 }
 .eighth_grid{
    grid-area: h;
 }
 .download_block{
    margin: 2em 0em 0em 2em;
 }
 .title{
    font-size: 1.6vw;
    font-weight: 600;
 }
 .download-btn{
    width: 60%;
    padding: 1em;
    border: 1px solid #45356d;
    background-color: #45356d;
    border-radius: 4px;
    color: #fbf6f5;
    cursor: pointer;
 }
 .untitled{
    font-size: 20px;
 }
 .tint{
    opacity: 50%;
 }
 .mobile_qr-code{
    display: none;
 }
 @media screen and (max-width: 700px) {
    .mobile_qr-code{
        display: flex;
        flex-direction: column;
        gap: 3em;
        align-items: center;
        text-align: center;
        line-height: 2;
        margin-top: 2em;
    }
    .top{
        display: block;
    }
    .wrapper{
        display: block;
    }
    .create_block{
        display: none;
    }
    input{
        width: 70%;
        
    }
    .search-btn{
        width: 30%;
    }
    
    h1, .check_previous{
        opacity: 50%;
       
    }
    .check_previous{
        font-size: 4vw;
    }
    .tint{
        opacity: 100%;
    }
    .search{
        display: flex;
        gap: 3em;
    }
    .arrow_left{
        display: block;
        margin-bottom: 1em;
    }
    .grid{
        display: none;
    }
 }
  @media screen and (max-width: 700px) {
    
  footer {
    background-color: hsla(256, 34%, 32%, 1);
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    padding: 3rem 3.5rem;
  }
  .footer_logo {
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .footer-name {
    color: hsla(0, 0%, 91%, 1);
    margin-bottom: 1.8rem;
  }
  .social-media-container {
    color: hsla(0, 0%, 91%, 1);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .social-media-container div {
    display: flex;
    gap: 0.7rem;
  }
  .footer-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
  }
  .footer-pages a {
    color: hsla(0, 0%, 91%, 1);
    text-decoration: none;
  }
  }
  @media screen and (max-width: 1140px) {
   
  }
  
  @media screen and (max-width: 700px) {
    .footer_logo {
      text-align: start;
    }
    .footer-pages {
      flex-direction: column;
      gap: 2rem;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  